@import url("https://themes.googleusercontent.com/fonts/css?kit=-lTUqgJg2dxbe4D7B5DEIA3jn2WilaVUapNOYl4762s");
.legalInfo-div{
.lst-kix_m1u0433f1mpw-5 > li:before {
  content: "\0025a0  ";
}
.lst-kix_m1u0433f1mpw-3 > li:before {
  content: "\0025cf  ";
}
.lst-kix_m1u0433f1mpw-7 > li:before {
  content: "\0025cb  ";
}
.lst-kix_m1u0433f1mpw-2 > li:before {
  content: "\0025a0  ";
}
.lst-kix_m1u0433f1mpw-6 > li:before {
  content: "\0025cf  ";
}
ol.lst-kix_dmdkrfjlfdzz-3.start {
  counter-reset: lst-ctn-kix_dmdkrfjlfdzz-3 0;
}
.lst-kix_m1u0433f1mpw-4 > li:before {
  content: "\0025cb  ";
}
ul.lst-kix_6ryljlv3osj3-8 {
  list-style-type: none;
}
ul.lst-kix_6ryljlv3osj3-7 {
  list-style-type: none;
}
ul.lst-kix_6ryljlv3osj3-6 {
  list-style-type: none;
}
.lst-kix_dmdkrfjlfdzz-8 > li {
  counter-increment: lst-ctn-kix_dmdkrfjlfdzz-8;
}
ol.lst-kix_dmdkrfjlfdzz-6.start {
  counter-reset: lst-ctn-kix_dmdkrfjlfdzz-6 0;
}
.lst-kix_m1u0433f1mpw-8 > li:before {
  content: "\0025a0  ";
}
ul.lst-kix_rp8429hl1pin-8 {
  list-style-type: none;
}
.lst-kix_9bc76isdemg8-1 > li:before {
  content: "\0025cb  ";
}
.lst-kix_9bc76isdemg8-3 > li:before {
  content: "\0025cf  ";
}
ul.lst-kix_1y8kd6u0b1bd-8 {
  list-style-type: none;
}
.lst-kix_9bc76isdemg8-2 > li:before {
  content: "\0025a0  ";
}
.lst-kix_9bc76isdemg8-6 > li:before {
  content: "\0025cf  ";
}
.lst-kix_dmdkrfjlfdzz-8 > li:before {
  content: "" counter(lst-ctn-kix_dmdkrfjlfdzz-8, lower-roman) ". ";
}
ul.lst-kix_6ryljlv3osj3-1 {
  list-style-type: none;
}
ul.lst-kix_6ryljlv3osj3-0 {
  list-style-type: none;
}
.lst-kix_dmdkrfjlfdzz-7 > li:before {
  content: "" counter(lst-ctn-kix_dmdkrfjlfdzz-7, lower-latin) ". ";
}
.lst-kix_dmdkrfjlfdzz-7 > li {
  counter-increment: lst-ctn-kix_dmdkrfjlfdzz-7;
}
.lst-kix_9bc76isdemg8-7 > li:before {
  content: "\0025cb  ";
}
ul.lst-kix_6ryljlv3osj3-5 {
  list-style-type: none;
}
ul.lst-kix_6ryljlv3osj3-4 {
  list-style-type: none;
}
ul.lst-kix_6ryljlv3osj3-3 {
  list-style-type: none;
}
ul.lst-kix_6ryljlv3osj3-2 {
  list-style-type: none;
}
.lst-kix_9bc76isdemg8-0 > li:before {
  content: "\0025cf  ";
}
.lst-kix_9bc76isdemg8-8 > li:before {
  content: "\0025a0  ";
}
.lst-kix_dmdkrfjlfdzz-3 > li:before {
  content: "" counter(lst-ctn-kix_dmdkrfjlfdzz-3, decimal) ". ";
}
.lst-kix_dmdkrfjlfdzz-5 > li:before {
  content: "" counter(lst-ctn-kix_dmdkrfjlfdzz-5, lower-roman) ". ";
}
ol.lst-kix_dmdkrfjlfdzz-0.start {
  counter-reset: lst-ctn-kix_dmdkrfjlfdzz-0 0;
}
.lst-kix_dmdkrfjlfdzz-2 > li:before {
  content: "" counter(lst-ctn-kix_dmdkrfjlfdzz-2, lower-roman) ". ";
}
.lst-kix_dmdkrfjlfdzz-6 > li:before {
  content: "" counter(lst-ctn-kix_dmdkrfjlfdzz-6, decimal) ". ";
}
ul.lst-kix_rp8429hl1pin-0 {
  list-style-type: none;
}
.lst-kix_m1u0433f1mpw-1 > li:before {
  content: "\0025cb  ";
}
ul.lst-kix_rp8429hl1pin-1 {
  list-style-type: none;
}
ul.lst-kix_rp8429hl1pin-2 {
  list-style-type: none;
}
ul.lst-kix_rp8429hl1pin-3 {
  list-style-type: none;
}
.lst-kix_9bc76isdemg8-5 > li:before {
  content: "\0025a0  ";
}
ul.lst-kix_rp8429hl1pin-4 {
  list-style-type: none;
}
ul.lst-kix_rp8429hl1pin-5 {
  list-style-type: none;
}
ul.lst-kix_rp8429hl1pin-6 {
  list-style-type: none;
}
.lst-kix_m1u0433f1mpw-0 > li:before {
  content: "\0025cf  ";
}
.lst-kix_dmdkrfjlfdzz-4 > li:before {
  content: "" counter(lst-ctn-kix_dmdkrfjlfdzz-4, lower-latin) ". ";
}
ul.lst-kix_rp8429hl1pin-7 {
  list-style-type: none;
}
.lst-kix_9bc76isdemg8-4 > li:before {
  content: "\0025cb  ";
}
ol.lst-kix_dmdkrfjlfdzz-8 {
  list-style-type: none;
}
ol.lst-kix_dmdkrfjlfdzz-7 {
  list-style-type: none;
}
ol.lst-kix_dmdkrfjlfdzz-4 {
  list-style-type: none;
}
ol.lst-kix_dmdkrfjlfdzz-3 {
  list-style-type: none;
}
ol.lst-kix_dmdkrfjlfdzz-6 {
  list-style-type: none;
}
ol.lst-kix_dmdkrfjlfdzz-5 {
  list-style-type: none;
}
.lst-kix_dmdkrfjlfdzz-1 > li {
  counter-increment: lst-ctn-kix_dmdkrfjlfdzz-1;
}
ul.lst-kix_m1u0433f1mpw-5 {
  list-style-type: none;
}
ul.lst-kix_m1u0433f1mpw-6 {
  list-style-type: none;
}
ul.lst-kix_m1u0433f1mpw-7 {
  list-style-type: none;
}
ul.lst-kix_m1u0433f1mpw-8 {
  list-style-type: none;
}
ul.lst-kix_m1u0433f1mpw-1 {
  list-style-type: none;
}
ul.lst-kix_m1u0433f1mpw-2 {
  list-style-type: none;
}
ul.lst-kix_m1u0433f1mpw-3 {
  list-style-type: none;
}
ul.lst-kix_m1u0433f1mpw-4 {
  list-style-type: none;
}
ul.lst-kix_m1u0433f1mpw-0 {
  list-style-type: none;
}
.lst-kix_g6rhnlbx4342-6 > li:before {
  content: "\0025cf  ";
}
.lst-kix_g6rhnlbx4342-5 > li:before {
  content: "\0025a0  ";
}
.lst-kix_g6rhnlbx4342-7 > li:before {
  content: "\0025cb  ";
}
.lst-kix_g6rhnlbx4342-2 > li:before {
  content: "\0025a0  ";
}
.lst-kix_g6rhnlbx4342-3 > li:before {
  content: "\0025cf  ";
}
.lst-kix_g6rhnlbx4342-4 > li:before {
  content: "\0025cb  ";
}
ul.lst-kix_9bc76isdemg8-5 {
  list-style-type: none;
}
ul.lst-kix_9bc76isdemg8-6 {
  list-style-type: none;
}
ol.lst-kix_dmdkrfjlfdzz-5.start {
  counter-reset: lst-ctn-kix_dmdkrfjlfdzz-5 0;
}
ul.lst-kix_9bc76isdemg8-3 {
  list-style-type: none;
}
ul.lst-kix_9bc76isdemg8-4 {
  list-style-type: none;
}
ul.lst-kix_9bc76isdemg8-1 {
  list-style-type: none;
}
ul.lst-kix_9bc76isdemg8-2 {
  list-style-type: none;
}
ul.lst-kix_9bc76isdemg8-0 {
  list-style-type: none;
}
ol.lst-kix_dmdkrfjlfdzz-0 {
  list-style-type: none;
}
ol.lst-kix_dmdkrfjlfdzz-2 {
  list-style-type: none;
}
ol.lst-kix_dmdkrfjlfdzz-1 {
  list-style-type: none;
}
.lst-kix_g6rhnlbx4342-8 > li:before {
  content: "\0025a0  ";
}
.lst-kix_6ryljlv3osj3-7 > li:before {
  content: "\0025cb  ";
}
.lst-kix_rp8429hl1pin-1 > li:before {
  content: "\0025cb  ";
}
.lst-kix_dmdkrfjlfdzz-3 > li {
  counter-increment: lst-ctn-kix_dmdkrfjlfdzz-3;
}
.lst-kix_6ryljlv3osj3-4 > li:before {
  content: "\0025cb  ";
}
.lst-kix_6ryljlv3osj3-8 > li:before {
  content: "\0025a0  ";
}
.lst-kix_rp8429hl1pin-2 > li:before {
  content: "\0025a0  ";
}
.lst-kix_1y8kd6u0b1bd-0 > li:before {
  content: "\0025cf  ";
}
.lst-kix_6ryljlv3osj3-3 > li:before {
  content: "\0025cf  ";
}
.lst-kix_6ryljlv3osj3-1 > li:before {
  content: "\0025cb  ";
}
.lst-kix_rp8429hl1pin-7 > li:before {
  content: "\0025cb  ";
}
.lst-kix_6ryljlv3osj3-2 > li:before {
  content: "\0025a0  ";
}
.lst-kix_rp8429hl1pin-0 > li:before {
  content: "\0025cf  ";
}
.lst-kix_rp8429hl1pin-8 > li:before {
  content: "\0025a0  ";
}
ul.lst-kix_9bc76isdemg8-7 {
  list-style-type: none;
}
ul.lst-kix_9bc76isdemg8-8 {
  list-style-type: none;
}
.lst-kix_1y8kd6u0b1bd-5 > li:before {
  content: "\0025a0  ";
}
.lst-kix_dmdkrfjlfdzz-4 > li {
  counter-increment: lst-ctn-kix_dmdkrfjlfdzz-4;
}
.lst-kix_1y8kd6u0b1bd-3 > li:before {
  content: "\0025cf  ";
}
.lst-kix_1y8kd6u0b1bd-4 > li:before {
  content: "\0025cb  ";
}
.lst-kix_1y8kd6u0b1bd-1 > li:before {
  content: "\0025cb  ";
}
.lst-kix_g6rhnlbx4342-1 > li:before {
  content: "\0025cb  ";
}
.lst-kix_6ryljlv3osj3-5 > li:before {
  content: "\0025a0  ";
}
.lst-kix_g6rhnlbx4342-0 > li:before {
  content: "\0025cf  ";
}
.lst-kix_6ryljlv3osj3-6 > li:before {
  content: "\0025cf  ";
}
.lst-kix_1y8kd6u0b1bd-2 > li:before {
  content: "\0025a0  ";
}
ol.lst-kix_dmdkrfjlfdzz-7.start {
  counter-reset: lst-ctn-kix_dmdkrfjlfdzz-7 0;
}
.lst-kix_dmdkrfjlfdzz-5 > li {
  counter-increment: lst-ctn-kix_dmdkrfjlfdzz-5;
}
ol.lst-kix_dmdkrfjlfdzz-4.start {
  counter-reset: lst-ctn-kix_dmdkrfjlfdzz-4 0;
}
.lst-kix_1y8kd6u0b1bd-6 > li:before {
  content: "\0025cf  ";
}
.lst-kix_dmdkrfjlfdzz-2 > li {
  counter-increment: lst-ctn-kix_dmdkrfjlfdzz-2;
}
.lst-kix_1y8kd6u0b1bd-7 > li:before {
  content: "\0025cb  ";
}
.lst-kix_6ryljlv3osj3-0 > li:before {
  content: "\0025cf  ";
}
.lst-kix_1y8kd6u0b1bd-8 > li:before {
  content: "\0025a0  ";
}
.lst-kix_wp0ww4jg5dyd-0 > li:before {
  content: "\0025cf  ";
}
.lst-kix_dmdkrfjlfdzz-6 > li {
  counter-increment: lst-ctn-kix_dmdkrfjlfdzz-6;
}
.lst-kix_wp0ww4jg5dyd-2 > li:before {
  content: "\0025a0  ";
}
.lst-kix_wp0ww4jg5dyd-4 > li:before {
  content: "\0025cb  ";
}
ul.lst-kix_g6rhnlbx4342-2 {
  list-style-type: none;
}
ul.lst-kix_g6rhnlbx4342-1 {
  list-style-type: none;
}
ul.lst-kix_g6rhnlbx4342-0 {
  list-style-type: none;
}
.lst-kix_dmdkrfjlfdzz-0 > li {
  counter-increment: lst-ctn-kix_dmdkrfjlfdzz-0;
}
.lst-kix_wp0ww4jg5dyd-1 > li:before {
  content: "\0025cb  ";
}
.lst-kix_wp0ww4jg5dyd-5 > li:before {
  content: "\0025a0  ";
}
ul.lst-kix_g6rhnlbx4342-6 {
  list-style-type: none;
}
ul.lst-kix_g6rhnlbx4342-5 {
  list-style-type: none;
}
ul.lst-kix_g6rhnlbx4342-4 {
  list-style-type: none;
}
.lst-kix_dmdkrfjlfdzz-1 > li:before {
  content: "" counter(lst-ctn-kix_dmdkrfjlfdzz-1, lower-latin) ". ";
}
ul.lst-kix_g6rhnlbx4342-3 {
  list-style-type: none;
}
ol.lst-kix_dmdkrfjlfdzz-8.start {
  counter-reset: lst-ctn-kix_dmdkrfjlfdzz-8 0;
}
ul.lst-kix_g6rhnlbx4342-8 {
  list-style-type: none;
}
.lst-kix_dmdkrfjlfdzz-0 > li:before {
  content: "" counter(lst-ctn-kix_dmdkrfjlfdzz-0, decimal) ". ";
}
ul.lst-kix_g6rhnlbx4342-7 {
  list-style-type: none;
}
.lst-kix_wp0ww4jg5dyd-3 > li:before {
  content: "\0025cf  ";
}
ul.lst-kix_1y8kd6u0b1bd-4 {
  list-style-type: none;
}
ol.lst-kix_dmdkrfjlfdzz-1.start {
  counter-reset: lst-ctn-kix_dmdkrfjlfdzz-1 0;
}
ul.lst-kix_1y8kd6u0b1bd-5 {
  list-style-type: none;
}
ul.lst-kix_1y8kd6u0b1bd-6 {
  list-style-type: none;
}
ul.lst-kix_1y8kd6u0b1bd-7 {
  list-style-type: none;
}
.lst-kix_wp0ww4jg5dyd-6 > li:before {
  content: "\0025cf  ";
}
.lst-kix_wp0ww4jg5dyd-8 > li:before {
  content: "\0025a0  ";
}
ul.lst-kix_1y8kd6u0b1bd-0 {
  list-style-type: none;
}
ul.lst-kix_1y8kd6u0b1bd-1 {
  list-style-type: none;
}
ul.lst-kix_1y8kd6u0b1bd-2 {
  list-style-type: none;
}
ul.lst-kix_1y8kd6u0b1bd-3 {
  list-style-type: none;
}
.lst-kix_wp0ww4jg5dyd-7 > li:before {
  content: "\0025cb  ";
}
ol.lst-kix_dmdkrfjlfdzz-2.start {
  counter-reset: lst-ctn-kix_dmdkrfjlfdzz-2 0;
}
ul.lst-kix_wp0ww4jg5dyd-6 {
  list-style-type: none;
}
ul.lst-kix_wp0ww4jg5dyd-5 {
  list-style-type: none;
}
ul.lst-kix_wp0ww4jg5dyd-8 {
  list-style-type: none;
}
ul.lst-kix_wp0ww4jg5dyd-7 {
  list-style-type: none;
}
ul.lst-kix_wp0ww4jg5dyd-2 {
  list-style-type: none;
}
ul.lst-kix_wp0ww4jg5dyd-1 {
  list-style-type: none;
}
ul.lst-kix_wp0ww4jg5dyd-4 {
  list-style-type: none;
}
ul.lst-kix_wp0ww4jg5dyd-3 {
  list-style-type: none;
}
li.li-bullet-0:before {
  margin-left: -18pt;
  white-space: nowrap;
  display: inline-block;
  min-width: 18pt;
}
ul.lst-kix_wp0ww4jg5dyd-0 {
  list-style-type: none;
}
.lst-kix_rp8429hl1pin-6 > li:before {
  content: "\0025cf  ";
}
.lst-kix_rp8429hl1pin-5 > li:before {
  content: "\0025a0  ";
}
.lst-kix_rp8429hl1pin-3 > li:before {
  content: "\0025cf  ";
}
.lst-kix_rp8429hl1pin-4 > li:before {
  content: "\0025cb  ";
}
ol {
  margin: 0;
  padding: 0;
}
table td,
table th {
  padding: 0;
}
.c8 {
  border-right-style: solid;
  padding-top: 0pt;
  border-top-width: 0pt;
  border-bottom-color: #e2e8f0;
  border-right-width: 0pt;
  padding-left: 0pt;
  border-left-color: #e2e8f0;
  padding-bottom: 0pt;
  line-height: 1.5;
  border-right-color: #e2e8f0;
  border-left-width: 0pt;
  border-top-style: solid;
  background-color: #ffffff;
  border-left-style: solid;
  border-bottom-width: 0pt;
  border-top-color: #e2e8f0;
  border-bottom-style: solid;
  orphans: 2;
  widows: 2;
  text-align: left;
  padding-right: 0pt;
}
.c4 {
  border-right-style: solid;
  padding-top: 0pt;
  border-top-width: 0pt;
  border-right-width: 0pt;
  padding-left: 0pt;
  padding-bottom: 0pt;
  line-height: 1.28571;
  border-left-width: 0pt;
  border-top-style: solid;
  background-color: #ffffff;
  border-left-style: solid;
  border-bottom-width: 0pt;
  border-bottom-style: solid;
  orphans: 2;
  widows: 2;
  text-align: left;
  padding-right: 0pt;
}
.c15 {
  border-right-style: solid;
  padding-top: 0pt;
  border-top-width: 0pt;
  border-right-width: 0pt;
  padding-left: 0pt;
  padding-bottom: 0pt;
  line-height: 1.2857100000000001;
  border-left-width: 0pt;
  border-top-style: solid;
  background-color: #ffffff;
  border-left-style: solid;
  border-bottom-width: 0pt;
  border-bottom-style: solid;
  orphans: 2;
  widows: 2;
  text-align: left;
  padding-right: 0pt;
}
.c12 {
  border-right-style: solid;
  padding-top: 0pt;
  border-top-width: 0pt;
  border-right-width: 0pt;
  padding-left: 0pt;
  padding-bottom: 0pt;
  line-height: 1.4285;
  border-left-width: 0pt;
  border-top-style: solid;
  background-color: #ffffff;
  border-left-style: solid;
  border-bottom-width: 0pt;
  border-bottom-style: solid;
  orphans: 2;
  widows: 2;
  text-align: left;
  padding-right: 0pt;
}
.c5 {
  background-color: #ffffff;
  margin-left: 36pt;
  padding-top: 11pt;
  padding-left: 0pt;
  padding-bottom: 11pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.c1 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left;
  height: 11pt;
}
.c19 {
  background-color: #ffffff;
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.4285;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.c9 {
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 13pt;
  font-family: "Montserrat";
  font-style: normal;
}
.c16 {
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 23pt;
  font-family: "Montserrat";
  font-style: normal;
}
.c11 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Arial";
  font-style: normal;
}
.c20 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 10pt;
  font-family: "Montserrat";
  font-style: normal;
}
.c2 {
  background-color: #ffffff;
  padding-top: 0pt;
  padding-bottom: 11pt;
  line-height: 1.4285;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.c13 {
  background-color: #ffffff;
  padding-top: 11pt;
  padding-bottom: 11pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.c0 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 10.5pt;
  font-family: "Montserrat";
  font-style: normal;
}
.c3 {
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 17pt;
  font-family: "Montserrat";
  font-style: normal;
}
.c14 {
  color: #343b46;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 12pt;
  font-family: "Montserrat";
  font-style: normal;
}
.c18 {
  -webkit-text-decoration-skip: none;
  color: #1155cc;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}
.c25 {
  font-size: 11.5pt;
  font-family: "Montserrat";
  color: #343b46;
  font-weight: 400;
}
.c7 {
  font-size: 10.5pt;
  font-family: "Montserrat";
  font-weight: 400;
}
.c17 {
  background-color: #ffffff;
  max-width: 468pt;
  padding: 72pt 72pt 72pt 72pt;
}
.c21 {
  font-size: 23pt;
  font-family: "Montserrat";
  font-weight: 700;
}
.c22 {
  font-size: 17pt;
  font-family: "Montserrat";
  font-weight: 700;
}
.c24 {
  font-size: 13pt;
  font-family: "Montserrat";
  font-weight: 700;
}
.c10 {
  padding: 0;
  margin: 0;
}
.c23 {
  color: inherit;
  text-decoration: inherit;
}
.c6 {
  height: 11pt;
}
.title {
  padding-top: 0pt;
  color: #000000;
  font-size: 26pt;
  padding-bottom: 3pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.subtitle {
  padding-top: 0pt;
  color: #666666;
  font-size: 15pt;
  padding-bottom: 16pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
li {
  color: #000000;
  font-size: 11pt;
  font-family: "Arial";
}
p {
  margin: 0;
  color: #000000;
  font-size: 11pt;
  font-family: "Arial";
}
h1 {
  padding-top: 20pt;
  color: #000000;
  font-size: 20pt;
  padding-bottom: 6pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
h2 {
  padding-top: 18pt;
  color: #000000;
  font-size: 16pt;
  padding-bottom: 6pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
h3 {
  padding-top: 16pt;
  color: #434343;
  font-size: 14pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
h4 {
  padding-top: 14pt;
  color: #666666;
  font-size: 12pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
h5 {
  padding-top: 12pt;
  color: #666666;
  font-size: 11pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
h6 {
  padding-top: 12pt;
  color: #666666;
  font-size: 11pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  font-style: italic;
  orphans: 2;
  widows: 2;
  text-align: left;
}
}